.header {
  background: #292961;
  height: 41px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.header-pull-down {
  display: inline-block;
  padding: 8px 8px;
  width: 36px;
  vertical-align: top;
  padding-right: 1px;
}
.icon-btn {
  display: inline-block;
  padding: 8px 8px;
  vertical-align: top;
}