.search-bar {
    background: #4C4B7F;
    width: 242px;
    margin: 6px;
    display: inline-block;
    position: relative;
    height: 30px;
    border-radius: 4px;
}
header .search-bar-btn {
    width: 22px;
    display: inline-block;
    position: absolute;
    right: 0;
    height: 30px;
    margin-top: 6px;
}
header .search-bar-input {
    background: #4C4B7F;
    border: none;
    width: 210px;
    height: 30px;
    position: absolute;
    margin-left: 10px;
    outline: none ;
    color: #d1d1f0;
    transition: width 0.5s;
}
header .search-bar-input::placeholder {
    color: #d1d1f0;
}
.focus-input {
    width: 320px;
    background: white;
    input {
        color: black;
        background: white;
    }
}
.search-autocomplete {
    position: absolute;
    top: 39px;
    box-shadow: grey 0px 0px 2px;
    width: 320px;
    background: white;
    border-radius: 4px;
    padding: 4px 0;
    z-index: 2;
    span {
        width: 100%;
        background: #EDEDED;
        display: inline-block;
        padding: 5px 0; 
        color: #565555;
    }
    ul {
        list-style: none;
        padding-left: 8px;
        margin: 8px 0;
        border-top: 1px solid #e6e6e6;
        padding-top: 10px;
        color: #565555;
        li {
            padding: 6px 0;
            font-size: 15px;
        }
    }
}